<!doctype html>
<html lang="en">
  <head>
  	<title>SkillGrader</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
        <style>
         
            table{ 
            border-collapse:separate; 
            border-spacing: 20px 0; 
            column-gap: 35px;
            } 
            th,td{ 
            width: 150px; 
            text-align: center; 
            padding: 5px;
            }
            .card{
              box-shadow: 5px 10px 8px #3870c9;
              color :#32373d;
            }
            .card-header{
              background-color: #32373d;
              color: white;
            }
            .card-header button{
              color: white;
            }
          </style>
  </head>
  <body>
		
    <div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(../images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(../images/logo4.jpg);"></div>
	  				<h3><b><%=name%></b></h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li>
            <a href="/stu_course"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="/user/mycourses"><span class="fa fa-book mr-3"></span>My Courses</a>
          </li>
          <li>
            <a href="/assignment"><span class="fa fa-upload mr-3"></span> Assignments </a>
          </li>
          <li class="active">
            <a href="/progress"><span class="fa fa-trophy mr-3"></span> Progress </a>
          </li>
          <li>
            <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>

    	</nav>

      <div id="content" class="p-4 p-md-5">

        <div class="alert alert-warning text-center" role="alert">
            <%= msg%>
          </div>


    </div></div></div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>